.liz__converter {
    display: flex;
    flex-direction: row;
}

.liz__converter-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    margin-right: 2rem;
}

.liz__converter-image img {
    width: 100%;
    height: 100%;
}

.liz__converter-content {
    flex: 1;
    display: flex;
    
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    text-align: left;
    color: var(--color-text);
}
.liz__converter-content-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 30px;
}
.liz__converter-content-item img {
    width: 2.5em;
    height: 2em;
}
.liz__converter-content-item h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #71E5FF;
}
.liz__converter-content h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
    color: var(--color-text);
    margin-top: 1rem;
}
.liz__converter-content h4:last-child {
    color: var(--color-text);
}
.liz__converter-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
    margin: 1rem 0;
}
.liz__converter-content p {
    font-family: var(--font-family);

    font-size: 16px;
    line-height: 30px;

    color: var(--color-text);
    margin-bottom: 1rem;
}
@media  screen  and (max-width: 950px){
    .liz__converter{
        flex-direction: column;
    }
    .liz__converter-image {
        margin: 1rem 0;
        
    }
    .liz__converter-content {
        margin-top: 2rem;
    }
    
}